@import 'tailwindcss';

@font-face {
    font-family: 'sora';
    font-display: swap;
    src: url(/assets/fonts/Sora.ttf) format('truetype');
}

@theme {
    --font-title: 'sora', sans-serif;
}

.text-trim {
    text-box-trim: trim-both;
}